<form clrForm>
    <clr-input-container>
        <label>Subject</label>
        <input clrInput type="text" [(ngModel)]="currentLetter.subject" name="subject" />
    </clr-input-container>
    <clr-input-container>
        <label>Text</label>
        <input clrInput type="text" [(ngModel)]="currentLetter.text" name="text" />
    </clr-input-container>

    <button class="btn btn-success" routerLink="/home" (click)="addLetter()">Add</button>
    <button class="btn btn-primary" routerLink="/home">Back</button>
</form>